*{
  box-sizing: border-box;
}
@font-face{
  font-family: 'IRANsans';
  src        : url(font/IRANSansWeb.ttf);
}
@font-face{
  font-family: 'IRANsans-bold';
  src        : url(font/IRANSansWeb_Bold.ttf);
}
body{
  font-family: 'IRANsans';
  position   : relative;
  height     : 100vh;
  width      : 100%;
}
div.back{
  min-height: 100vh;
  width     : 100%;
  position  : relative;
  overflow  : hidden;

}
div.min{
	position             : absolute;
	top                  : 0;
	left                 : 0;
	height               : 100vh;
	width                : 100%;
	/*opacity            : 0;*/
	background-image     : url(image/background.jpg);
	background-repeat    : no-repeat;
	background-size      : cover;
	background-attachment: fixed;
	background-position  : center;
	filter               : grayscale(70%);
}
div.container {
	position : absolute;
	top      : 10%;
	right    : 10%;
	z-index  : 2;
	direction: rtl;
}
div.container b {
	color    : #915DEB ;
	font-size: 8em;
}
div.container span{
	font-size: 2em;
	color    : #9316D5;

}
div.comin{
	position        : absolute;
	bottom          : 10%;
	left            : 10%;
	background-color: #ECB70F;
	border-radius   : 30px;
	padding         : 20px;
	direction       : rtl;
	color           :  #2E2D2A;
	font-size       : 1.5em;
}